# Server-only (used by route handlers + RSC)
PENYZEN_API_URL=https://mb9z793u94.execute-api.us-east-1.amazonaws.com

# Public — exposed to the browser bundle. Cognito client IDs are public by design.
NEXT_PUBLIC_API_URL=https://mb9z793u94.execute-api.us-east-1.amazonaws.com
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_xeJagUO72
NEXT_PUBLIC_COGNITO_APP_CLIENT_ID=48d6sdei2i1itku2rfdu3ps2js
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_APP_NAME=Penyzen
